/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on Alioth
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile singularity -c conf/run_on_alioth.config --input <INPUT> --reference <REFERENCE> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm'

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'GUNZIP|SAMTOOLS_SORT|SAMTOOLS_FAIDX|SAMTOOLS_INDEX|METHYLDACKEL_EXTRACT' {
        container = "${baseDir}/images/methyldackel.sif"
        cpus = 16
        memory = '32GB'
        time = '1h'
        queue = 'cn-long'
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = '${meta.id}.sorted'
    }

    withName: 'METHYLDACKEL_EXTRACT' {
        ext.args = '-p 10 -q 10 --mergeContext'
    }

    withName: 'MERGE_BEDGRAPHS' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'METILENE' {
        container = "${baseDir}/images/wgbstools_0.2.2_metilene_0.2.8.sif"
        cpus = 32
        memory = '64GB'
        time = '12h'
        queue = 'cn-long'
        ext.args = '-a target -b background -m 3'
    }
}

params {
    config_profile_name        = 'Alioth profile'
    config_profile_description = 'Run on Alioth'

    // Input parameters
    input = null
    reference = null
    outdir = null

    // Default values
    publish_dir_mode = 'copy'
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '--bind /lustre1,/lustre2,/appsnew'
    }
}
